{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>Hey there!</h1>
  <p class="important">
    Welcome to Photon.

    <form method="POST">
        <label for="fname">First name:</label><br>
        <input type="text" id="user" name="user"><br>
        <label for="lname">Password:</label><br>
        <input type="text" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
      </form> 


{% endblock %}